body {
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    color: #a32637;
    margin-bottom: 0px;
}

.container .jumbotron {
    border-radius: 6px 6px 0 0;
    border: 1px solid #332c2f;
}

.navbar {
    border-radius: 0 0 6px 6px;
}

.portfolio-text {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 6px;
}

.jumbotron > h1 {
    font-family: 'Rock Salt', cursive;
}
